.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}
/* .product-cards{
  min-width: 25%;
} */
footer{
  position: absolute;
  bottom: 0px;
  right:0px;
  left:0px;
}
.product-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 25rem;
  overflow-y: scroll;
}
.cart-section{
  height: 22rem;
  overflow-y: scroll;
}